body {
	background-color: #ffffff;
	font-size: 12px;
	font-family: Verdana, "Verdana CE", Arial, "Arial CE",
		"Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	color: #000000;
	margin: 10px;
}

h1 {
	font-family: Arial, "Arial CE", "Lucida Grande CE", lucida,
		"Helvetica CE", sans-serif;
	/*border-bottom: 1px solid #AFAFAF;
	color: #D20005;*/
	font-size: 18px;
	font-weight: bold;
	margin: 0px;
	padding-top: 6px;
}

h2 {
	font-size: 15pt;
	color: #000;
	margin: 0;
	padding-top: 6px;
	font-family: Arial, "Arial CE", "Lucida Grande CE", lucida,
		"Helvetica CE", sans-serif;
}

p {
	font-size: 12pt;
	color: #000;
	margin: 0;
	padding-top: 6px;
	font-family: Arial, "Arial CE", "Lucida Grande CE", lucida,
		"Helvetica CE", sans-serif;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.FormContainer {
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	height: 200px;
}

.BottomPanel {
	margin: 0 auto;
	background-image: url("#{resource['/images/Bottom_Panel.jpg']}");
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 237px;
}

#LogoMain {
	background-image: url("#{resource['images/4U_Front_Logo.jpg']}");
	position: fixed;
	left: 50%;
	transform: translate(-50%);
	height: 400px;
}

#bottom {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 130px;
	width: 100%;
	border: none;
	padding: 0;
	margin: 0;
	border-radius: 0;
}

#bottomleft {
	position: absolute;
	top: 5px;
	color: black;
	font-size: 125%;
}

#bottomright1 {
	position: absolute;
	right: 200px;
	top: 5px;
	color: black;
	font-size: 125%;
}

#bottomright2 {
	position: absolute;
	right: 50px;
	top: 5px;
	color: black;
	font-size: 125%;
}

.logo {
	position: absolute;
	top: 1;
	max-height: 180px;
	max-length: 180px;
	z-index: 1;
}
form{
	height:28
	
	0px;
}


#header {
	position: relative;
	top: 0;
	right: 0;
	height: 200px;
	width: 100%;
	border: none;
	padding: 0;
	margin: 0;
	border-radius: 0;
}

#main {
	background-color: #ffc9ae;
	border: none;
	width: 30%;
	margin: auto;
	padding: 10px;
	border-bottom: 1px solid #F39C12;
	border: .1px solid #F39C12;
	border-collapse: collapse;
	height:300%;
}

#back {
	position: absolute;
	z-index: 1;
}