<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet library="css" name="main.css" />
	<h:outputStylesheet library="css" name="navbar.css" />
</h:head>
<h:body>

	<p:panel id="container">
		<p:panel id="header">
			<h:graphicImage id="back" library="images" name="header_bg_blue.jpg" />
		</p:panel>

		<p:panel id="nav">
			<ul>
				<li><h:form>
						<h:commandLink style="color:white;" value="Home" action="index" />
					</h:form></li>
				<li class="dropdown"><a href="javascript:void(0)" style="color:white;"
					class="dropbtn">Login</a>
					<div class="dropdown-content">
						<h:form>
							<h:commandLink value="SuperAdmin Login" action="login" />
						</h:form>
						<h:form>
							<h:commandLink value="Management Login" action="MangerLogin" />
						</h:form>
					</div></li>
				<li><h:form>
						<h:commandLink style="color:white;" value="Rental Fleet" action="RetrieveVehicles" />
					</h:form></li>
				<li><h:form>
						<h:commandLink style="color:white;" value="About Us" action="AboutUs" />
					</h:form></li>
			</ul>
		</p:panel>

		<br></br>
		<br></br>
		<br></br>
		<br></br>
		<p:panel id="main2">
			<h1>
				<centre>4U Hire Ltd is a leading car hire outlet in the
				Dublin area which values the personal approach to customer
				relations.</centre>
			</h1>
			<br></br>
			<h:form>
				<center>
					<h:graphicImage library="images" name="4U_Logo_Top.png" />
				</center>
			</h:form>
			<br></br>
			<h1>
				<centre> 4U Hire Ltd have been in existence since 1952 and
				takes pride in the adaptability and diversity of their customer
				oriented approach. As well as regular car categories; Family,
				Luxury, Automatic etc. <br></br>
				<br></br>
				4U Hire specialize in the provision of vehicles for entire events.
				For weddings 4U hire provide chauffer driven vehicles for the bridal
				party, mini busses/busses for wedding guests and discounted car hire
				for visiting guests.</centre>
			</h1>
		</p:panel>
		<br></br>
		<br></br>
		<br></br>
		<br></br>
		<br></br>
		<br></br>
		<br></br>


	<div id="footer2">
			<p>
				+353 78 1234567 | 4uhire@gmail.com | Main Street | Athlone
				| Co. Westmeath
			</p>
			<p>
				<center>
					Copyright &copy; 4UHire Ltd | All Rights Reserved
				</center>
			</p>
		</div>

	</p:panel>
</h:body>
</html>