<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet library="css" name="main.css" />
	<h:outputStylesheet library="css" name="navbar.css" />
</h:head>
<h:body>

	<p:panel id="container">
		<p:panel id="header">
			<h:graphicImage id="back" library="images" name="header_bg_blue.jpg" />
		</p:panel>
	
	<p:panel id="nav">

			<ul>
				<li><h:form>
						<h:commandLink style="color:white;" value="Home" action="index" />
					</h:form></li>
				<li class="dropdown"><a href="javascript:void(0)" style="color:white;"
					class="dropbtn">Login</a>
					<div class="dropdown-content">
						<h:form>
							<h:commandLink  value="SuperAdmin Login" action="login" />
						</h:form>
						<h:form>
							<h:commandLink  value="Management Login" action="MangerLogin" />
						</h:form>
					</div></li>
				<li><h:form>
						<h:commandLink style="color:white;" value="Rental Fleet" action="RetrieveVehicles" />
					</h:form></li>
				<li><h:form>
						<h:commandLink style="color:white;" value="Logout" action="index" />
					</h:form></li>
					
			</ul>
		</p:panel>
		<br></br>
		<br></br>

	<p:panel id="main">
		<h1>Create Vehicle</h1><br></br>
		<h:form>
			<h:panelGrid columns="3" class="formTable">
			<p:outputLabel for="console" value="Make:" />
			<p:inputText value="#{vehicleMethods.make}"
					required="true" id="make" placeholder="Make"
					requiredMessage="Vehicle make required" />
				<p:message for="make" />
				
				<p:outputLabel for="console" value="Model:" />
			<p:inputText value="#{vehicleMethods.model}"
					required="true" id="model" placeholder="Model"
					requiredMessage="Vehicle model required" />
				<p:message for="model" />
				
				<p:outputLabel for="console" value="Fuel Type:" />
				<p:selectOneMenu id="console" value="#{vehicleMethods.fuelType}" style="width:100%" effect="fold">
				<f:selectItem itemLabel="Select One" itemValue="" />
            <f:selectItem itemLabel="Petrol" itemValue="Petrol" />
            <f:selectItem itemLabel="Diesel" itemValue="Diesel" />
        	</p:selectOneMenu><br></br><br></br>
			
				
				<p:outputLabel for="console" value="Registration:" />
			<p:inputText value="#{vehicleMethods.registration}"
					required="true" id="registration" placeholder="Registration"
					requiredMessage="Vehicle registration required" />
				<p:message for="registration" />
				
				<p:outputLabel for="console" value="Engine Size:" />
			<p:inputText value="#{vehicleMethods.engineSize}"
					required="true" id="engineSize" placeholder="Engine size"
					requiredMessage="Engine size required" />
				<p:message for="engineSize" />
				
				<p:outputLabel for="console2" value="Doors:" />
				<p:selectOneMenu id="console2" value="#{vehicleMethods.doorNum}" style="width:100%" effect="fold">
				<f:selectItem itemLabel="Select One" itemValue="" />
            <f:selectItem itemLabel="2 Door" itemValue="2" />
            <f:selectItem itemLabel="3 Door" itemValue="3" />
             <f:selectItem itemLabel="4 Door" itemValue="4" />
              <f:selectItem itemLabel="5 Door" itemValue="5" />
              <f:selectItem itemLabel="6 Door" itemValue="5" />
            
        	</p:selectOneMenu><br></br><br></br>
<!-- 			<p:inputText value="#{vehicleMethods.doorNum}" -->
<!-- 					required="true" id="doorSize" placeholder="Door size" -->
<!-- 					requiredMessage="Door size required" /> -->
<!-- 				<p:message for="doorSize" /> -->
				
				<p:outputLabel for="console" value="Rental Price:" />
			<p:inputText value="#{vehicleMethods.rentalPrice}"
					required="true" id="dailyPrice" placeholder="Rental price"
					requiredMessage="Rental price required" />
				<p:message for="dailyPrice" />
				
				<p:outputLabel for="console" value="Image:" />
				<p:inputText library="images" value="#{vehicleMethods.image}"
					required="true" id="image" placeholder="Add image"
					requiredMessage="Image required" />
				<p:message for="image" />
				
			</h:panelGrid>
			
			<br></br><br></br>
			<p:commandButton id="button" style="left:20%; color:black; height: 40px;
     																		width: 120px;"
				action="#{vehicleMethods.addVehicle}"
				value="Add Vehicle" ajax="false" />		<h2 class= "heading">Vehicles added</h2>
		</h:form>
		
<table>
        <h:dataTable value="#{vehicleMethods.vehicles}" var="row">
        <h:column>
        <h:outputText value="Vehicle : #{row.make}"/>
        </h:column>
        <h:column>
        <h:outputText value=" #{row.model}"/>
        </h:column>
        <h:column>
        <h:outputText value=" #{row.fuelType}"/>
        </h:column>
        <h:column>
        <h:outputText value=" #{row.doorNum}"/>
        </h:column>
        <h:column>
        <h:outputText value=" #{row.engineSize}"/>
        </h:column>
        <h:column>
        <h:outputText value=" #{row.registration}"/>
        </h:column>
        <h:column>
        <h:outputText value=" #{row.rentalPrice}"/>
        </h:column>
      </h:dataTable>
</table>
		
	</p:panel><br></br><br></br>
		
	
		<div id="footer2">
			<p>
				+353 78 1234567 | 4uhire@gmail.com | Main Street | Athlone
				| Co. Westmeath
			</p>
			<p>
				<center>
					Copyright &copy; 4UHire Ltd | All Rights Reserved
				</center>
			</p>
		</div>

	</p:panel>
</h:body>
</html>