<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet library="css" name="main.css" />
	<h:outputStylesheet library="css" name="navbar.css" />
</h:head>
<h:body>

	<p:panel id="container">
		<p:panel id="header">
			<h:graphicImage id="back" library="images" name="header_bg_blue.jpg" />
		</p:panel>

		<p:panel id="nav">
			<ul>
				<li><h:form>
						<h:commandLink style="color:white;" value="Home" action="index" />
					</h:form></li>
				<li class="dropdown"><a href="javascript:void(0)" style="color:white;"
					class="dropbtn">Login</a>
					<div class="dropdown-content">
						<h:form>
							<h:commandLink value="Customer Login" action="CustomerLogin" />
						</h:form>
					</div></li>
				<li><h:form>
						<h:commandLink style="color:white;" value="Rental Fleet" action="RetrieveVehicles" />
					</h:form></li>
				<li><h:form>
						<h:commandLink style="color:white;" value="About Us" action="AboutUs" />
					</h:form></li>
			</ul>
		</p:panel>

		<br></br>
		<br></br>
	
		<p:panel id="main">
			<h1>Create New Customer</h1>
			<br></br>
			<h:form>
				<h:panelGrid columns="3" class="formTable">
			<p:outputLabel for="console" value="First Name:" />
			<p:inputText value="#{customerMethods.inputFirstName}"
				required="true" id="firstName" placeholder="First Name"
				requiredMessage="First name required"/>
			<p:message for="firstName"/>
			
			<p:outputLabel for="console" value="Last Name:" />	
			<p:inputText value="#{customerMethods.inputLastName}"
							required="true" id="lastName" placeholder="Last Name"
							requiredMessage="Last name required"/>
			<p:message for="lastName"/>
			
			<p:outputLabel for="console" value="Gender:" />
			<p:selectOneMenu id="console" value="#{customerMethods.inputGender}" style="width:100%">
			<f:selectItem itemLabel="Select One" itemValue="" />
            <f:selectItem itemLabel="Male" itemValue="Male" />
            <f:selectItem itemLabel="Female" itemValue="Female" />
        	</p:selectOneMenu><br></br><br></br>
			
			<p:outputLabel for="console" value="Date Of Birth:" />
			<p:calendar value="#{customerMethods.inputDateOfBirth}"
							required="true" id="dob" placeholder="Date Of Birth"
							requiredMessage="DOB required"/>
			<p:message for="dob"/>
			
			<p:outputLabel for="console" value="Address:" />
			<p:inputText value="#{customerMethods.inputAddress}"
							required="true" id="address" placeholder="Address"
							requiredMessage="Address required"/>
			<p:message for="address"/>
					
			<p:outputLabel for="console" value="Email:" />
			<p:inputText value="#{customerMethods.inputEmail}"
						required="true" id="email" placeholder="Email"
						requiredMessage="Address required" />
					<p:message for="address" />		
				
			<p:outputLabel for="console" value="Licence Number:" />
			<p:inputText value="#{customerMethods.inputLicenceNumber}"
						required="true" id="licencenumber" placeholder="Licence Number"
						requiredMessage="Address required" />
					<p:message for="address" />		
					
			<p:outputLabel for="console" value="Licence Expiry:" />
			<p:calendar value="#{customerMethods.inputLicenceExpiry}"
						required="true" id="licenceexpiry" placeholder="Licence Expiry"
						requiredMessage="Address required" />
					<p:message for="address" />		
						
			<p:outputLabel for="console" value="Username:" />
			<p:inputText value="#{customerMethods.inputUsername}"
						required="true" id="username" placeholder="Username"
						requiredMessage="User name required"
						validatorMessage="alphaNumeric (6-15) ">
						<f:validateRegex pattern="([a-zA-Z0-9].{6,15})" />
					</p:inputText>
					<p:message for="username" />
					
					
					
			<p:outputLabel for="console" value="Password:" />
			<p:password value="#{customerMethods.inputPassword}"
						feedback="true" id="password1" placeholder="Password"
						required="true" requiredMessage="Password required"
						validatorMessage="Password must be (5-15) alphanumeric">
						<f:validateRegex pattern="([a-zA-Z0-9].{5,15})" />
						<f:validateLength minimum="5" />
					</p:password>
					<p:message for="password1" />
				</h:panelGrid>
				<br></br>
				<br></br>
				<p:commandButton id="button"
					style="left:30%; color:black; height: 40px;
     width: 100px;"
					action="#{customerMethods.addCustomer}" value="Register"
					ajax="false" />
			</h:form>
		</p:panel>

		<br></br>
		<br></br>
		<br></br>
		<br></br>
		<br></br>
		<br></br>
		<br></br>
		<br></br>
		<br></br>

		<div id="footer2">
			<p>+353 78 1234567 | 4uhire@gmail.com | Main Street | Athlone |
				Co. Westmeath</p>
			<p>
				<center>Copyright &copy; 4UHire Ltd | All Rights Reserved</center>
			</p>
		</div>

	</p:panel>
</h:body>
</html>