<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet library="css" name="main.css" />
	<h:outputStylesheet library="css" name="navbar.css" />
</h:head>
<h:body>

	<p:panel id="container">
		<p:panel id="header">
			<h:graphicImage id="back" library="images" name="header_bg_blue.jpg" />
		</p:panel>

		<p:panel id="nav">
			<ul>
				<li><h:form>
						<h:commandLink style="color:white;" value="Home" action="index" />
					</h:form></li>
				<li class="dropdown"><a href="javascript:void(0)"
					style="color: white;" class="dropbtn">Login</a>
					<div class="dropdown-content">
						<h:form>
							<h:commandLink value="Customer Login" action="CustomerLogin" />
						</h:form>
						
					</div></li>
				<li><h:form>
						<h:commandLink style="color:white;" value="Rental Fleet"
							action="RetrieveVehicles" />
					</h:form></li>
				<li><h:form>
						<h:commandLink style="color:white;" value="About Us"
							action="AboutUs" />
					</h:form></li>
			</ul>
		</p:panel>

		<br></br>
		<br></br>

		<p:panel id="main">
			<h:dataTable value="#{customerMethods.customers}" var="row">
				<h:column>
					<h1>
						Welcome
						<h:outputText value="#{row.username}" />
					</h1>
				</h:column>
				<br></br>
			</h:dataTable>
			<br></br>
			<br></br>
		</p:panel>
	</p:panel>

	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<br></br>

	<div id="footer2">
		<p>+353 78 1234567 | 4uhire@gmail.com | Main Street | Athlone |
			Co. Westmeath</p>
		<p>
			<center>Copyright &copy; 4UHire Ltd | All Rights Reserved</center>
		</p>
	</div>


</h:body>
</html>