<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet library="css" name="main.css" />
	<h:outputStylesheet library="css" name="navbar.css" />
</h:head>
<h:body>

	<p:panel id="container">
		<p:panel id="header">
			<h:graphicImage id="back" library="images" name="header_bg_blue.jpg" />
		</p:panel>

		<p:panel id="nav">
			<ul>
				<li><h:form>
						<h:commandLink style="color:white;" value="Home" action="index" />
					</h:form></li>
				<li class="dropdown"><a href="javascript:void(0)" style="color:white;"
					class="dropbtn">Login</a>
					<div class="dropdown-content">
						<h:form>
							<h:commandLink  value="SuperAdmin Login" action="login" />
						</h:form>
						<h:form>
							<h:commandLink  value="Management Login" action="MangerLogin" />
						</h:form>
					</div></li>
				<li><h:form>
						<h:commandLink style="color:white;" value="Rental Fleet" action="RetrieveVehicles" />
					</h:form></li>
				<li><h:form>
						<h:commandLink style="color:white;" value="About Us" action="AboutUs" />
					</h:form></li>
			</ul>
		</p:panel>
		<br></br>
		<br></br>
		<br></br>

		<p:panel id="main">
			<br></br>
			<br></br>
			<h:form>
				<h1>Management Login</h1>
				<br></br>
			Username:
			<p:inputText value="#{managementStaffMethods.inputUsername}" required="true" id="username"
					placeholder="Username" requiredMessage="Username required"   validatorMessage="alphaNumeric (6-15) ">
						<f:validateRegex pattern="([a-zA-Z0-9].{6,15})"/>
						</p:inputText>
				<br></br>
				<br></br>
			Password:
			<p:password value="#{managementStaffMethods.inputPassword}" required="true"
					id="password" placeholder="Password"
					requiredMessage="Password required" validatorMessage="Password must be (5-15) alphanumeric">
						<f:validateRegex pattern="([a-zA-Z0-9].{5,15})"/>
					</p:password>
				<br></br>
				<br></br>
				<br></br>
				<p:commandButton value="Login"
					style="left:20%; color:black; height: 40px;
     width: 120px;"
					action="#{managementStaffMethods.findStaff}"></p:commandButton>
			</h:form>
		</p:panel>
		<br></br>
		<br></br><br></br><br></br>
		<br></br><br></br><br></br>
		<br></br><br></br><br></br>
		<br></br><br></br><br></br>
		<br></br><br></br><br></br>

		
		<div id="footer2">
			<p>
				+353 78 1234567 | 4uhire@gmail.com | Main Street | Athlone
				| Co. Westmeath
			</p>
			<p>
				<center>
					Copyright &copy; 4UHire Ltd | All Rights Reserved
				</center>
			</p>
		</div>

	</p:panel>
</h:body>
</html>

