<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet library="css" name="main.css" />
		<h:outputStylesheet library="css" name="navbar.css" />
	
</h:head>
<h:body>
	<p:panel id="container">
	<p:panel id="header">
		<h:graphicImage id="back" library="images" name="Bottom_Panel.jpg" />
		<h:graphicImage id="logo" class="logo" library="images"
			name="4U_Logo_Top.png" />
	</p:panel>
	
		<p:panel id="nav">
			<ul>
				<li><h:form>
						<h:commandLink value="Home" action="index" />
					</h:form></li>
				<li class="dropdown"><a href="javascript:void(0)"
					class="dropbtn">Login</a>
					<div class="dropdown-content">
						<h:form>
							<h:commandLink value="SuperAdmin Login" action="login" />
						</h:form>
						<h:form>
							<h:commandLink value="Management Login" action="MangerLogin" />
						</h:form>
					</div></li>
				<li><h:form>
						<h:commandLink value="Rental Fleet" action="RetrieveVehicles" />
					</h:form></li>
				<li><h:form>
						<h:commandLink value="About Us" action="AboutUs" />
					</h:form></li>
			</ul>
		</p:panel><br></br><br></br>


	<p:panel id="main">
			<h:form>
			<h1>Search By Price</h1><br></br>
				€
				<p:inputText value="#{searchBean.enteredPrice}" required="true"
					id="priceentered" placeholder="Enter rate up to €600"
					requiredMessage="Please Enter A Price" /><br></br><br></br>
				<h:commandButton action="#{searchBean.searchByPrice}" value="Search For Vehicles" />
			</h:form><br></br><br></br><br></br>
	</p:panel>


	<p:panel id="main2">
			<h:form>
				<p:dataTable var="vehicle" value="#{searchBean.searchResults}">
				
					<p:column>
						<h:outputText value="#{vehicle.make}" />
					</p:column>

					<p:column>
						<h:outputText value="#{vehicle.model}" />
					</p:column>

					<p:column>
						<h:outputText value="#{vehicle.fuelType}" />
					</p:column>

					<p:column>
						<h:outputText value="#{vehicle.doorNum}" />
					</p:column>
					
					<p:column>
						<h:outputText value="#{vehicle.engineSize}" />
					</p:column>
					
					<p:column>
						<h:outputText value="#{vehicle.registration}" />
					</p:column>
					
					<p:column>
						<h:outputText value="#{vehicle.rentalPrice}" />
					</p:column>
					
					<p:column>
						<h:graphicImage library="images" name="#{vehicle.image}" />
					</p:column>
					
				</p:dataTable>
			</h:form>
		</p:panel>

	  <br></br><br></br><br></br>
		<div id="content_footer"></div>
		<div id="footer">
			<p>
				<a>+353 78 1234567</a> | <a>4uhire@gmail.com</a> | <a>Main Street</a> | <a>Athlone</a>
				| <a>Co. Westmeath</a>
			</p>
			<p>
				<center>
					<a>Copyright &copy; 4UHire Ltd | All Rights Reserved</a>
				</center>
			</p>
		</div>

			</p:panel>
</h:body>
</html>