<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet library="css" name="main.css" />
</h:head>
<h:body>
	<p:panel id="header">
		<h:graphicImage id="back" library="images" name="Bottom_Panel.jpg" />
		<h:graphicImage id="logo" class="logo" library="images"
			name="4U_Logo_Top.png" />
	</p:panel>


	<p:panel id="main">
		<h1>Create New Manager</h1><br></br>
		<h:form>
			<h:panelGrid columns="3" class="formTable">
			First name:
			<p:inputText value="#{managementStaffMethods.inputFirstName}"
					required="true" id="firstName" placeholder="First Name"
					requiredMessage="First name required" />
				<p:message for="firstName" />
			Last name:
			<p:inputText value="#{managementStaffMethods.inputLastName}"
					required="true" id="lastName" placeholder="Last Name"
					requiredMessage="Last name required" />
				<p:message for="lastName" />
			Gender:
			<p:inputText value="#{managementStaffMethods.inputGender}"
					required="true" id="gender" placeholder="Gender"
					requiredMessage="Gender required" />
				<p:message for="gender" />
			Date of Birth:
			<p:inputText value="#{managementStaffMethods.inputDateOfBirth}"
					required="true" id="dob" placeholder="Date Of Birth"
					requiredMessage="DOB required" />
				<p:message for="dob" />
			Address:
			<p:inputText value="#{managementStaffMethods.inputAddress}"
					required="true" id="address" placeholder="Address"
					requiredMessage="Address required" />
				<p:message for="address" />
			User Name:
			<p:inputText value="#{managementStaffMethods.inputUsername}"
					required="true" id="username" placeholder="Username"
					requiredMessage="User name required" />
				<p:message for="username" />
			Password:
			<p:password value="#{managementStaffMethods.inputPassword}"
					feedback="true" id="password1" placeholder="Password"
					required="true" requiredMessage="Password required"
					validatorMessage="Password must be 5 or more chars.">
					<f:validateLength minimum="5" />
				</p:password>
				<p:message for="password1" />
			</h:panelGrid>
			<p:commandButton id="button" style="left:30%; color:green;"
				action="#{managementStaffMethods.addManagementStaff}"
				value="Register" ajax="false" />
		</h:form>
	</p:panel>
	<p:panel id="bottom">
		<h:graphicImage id="bottomimage" library="images"
			name="Bottom_Panel.jpg" />
		<div id="bottomleft">
			<p>4UHire Ltd.</p><br /><p>Copyright © 2017<br />All Rights Reserved</p>
		</div>
		<div id="bottomright2">
			<p>+353 78 1234567<br />4uhire@gmail.com<br />Street<br />Athlone<br />Co.
			Westmeath</p>
		</div>
		<div id="bottomright1">
			<p>Telephone: <br />E-mail <br />Address:</p>
		</div>
	</p:panel>
</h:body>
</html>
