<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet library="css" name="main.css" />
</h:head>
<h:body>
	<p:panel id="header">
	<h:graphicImage id="back" library="images" name="Bottom_Panel.jpg" />
	<h:graphicImage
        id="logo"
        class="logo"
        library="images"
        name="4U_Logo_Top.png"
    />
	</p:panel>

	<p:panel id="bottom" >
	<h:graphicImage id="bottomimage" library="images" name="Bottom_Panel.jpg"/>
		<div id="bottomleft">
			4UHire Ltd.<br />Copyright © 2017<br />All Rights Reserved
		</div>
		<div id="bottomright2">
			+353 78 1234567<br />4uhire@gmail.com<br />Street<br />Athlone<br />Co.
			Westmeath
		</div>
		<div id="bottomright1">
			Telephone: <br />E-mail <br />Address:
		</div>
	</p:panel>
</h:body>
</html>
	