<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Registration</title>
	<h:outputStylesheet library="css" name="main.css" />
</h:head>
<body>
	<p:panel id="header">
		<h:graphicImage id="back" library="images" name="Bottom_Panel.jpg" />
		<h:graphicImage id="logo" class="logo" library="images"
			name="4U_Logo_Top.png" />
	</p:panel>

	<p:panel id="main">
		<h1>Registration Successful !!!</h1>
	</p:panel>


	<!-- Footer -->
	<p:panel id="bottom">
		<h:graphicImage id="bottomimage" library="images"
			name="Bottom_Panel.jpg" />
		<div id="bottomleft">
			<p>4UHire Ltd.</p><br /><p>Copyright © 2017<br />All Rights Reserved</p>
		</div>
		<div id="bottomright2">
			<p>+353 78 1234567<br />4uhire@gmail.com<br />Street<br />Athlone<br />Co.
			Westmeath</p>
		</div>
		<div id="bottomright1">
			<p>Telephone: <br />E-mail <br />Address:</p>
		</div>
	</p:panel>
	<!-- End of Footer -->
</body>
</html>
