<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet name="main.css" library="css" />
	<title>Welcome</title>
</h:head>
<h:body>

	<p:panel id="header">
		<h:graphicImage id="back" library="images" name="Bottom_Panel.jpg" />
		<h:graphicImage id="logo" class="logo" library="images"
			name="4U_Logo_Top.png" />
	</p:panel>


	<br></br>
	<br></br>

	<p:panel id="main">
	<h1>SuperAdmin Interface</h1>
		<h1>
			Welcome
			<p></p>
			<h:outputLabel value="#{loginBean.username}"></h:outputLabel>
		</h1>
		<br></br>
		<br></br>
		<h:form>
			<!--<h:commandButton action="page1?faces-redirect=true" value="Page1" />-->
			<h:commandButton action="CreateManagementStaff"
				value="CreateManagementStaff" />
		</h:form>
	</p:panel>


	<br></br>
	<br></br>


	<!-- Footer -->
	<p:panel id="bottom">
		<h:graphicImage id="bottomimage" library="images"
			name="Bottom_Panel.jpg" />
		<div id="bottomleft">
			<p>4UHire Ltd.</p><br /><p>Copyright © 2017<br />All Rights Reserved</p>
		</div>
		<div id="bottomright2">
			<p>+353 78 1234567<br />4uhire@gmail.com<br />Street<br />Athlone<br />Co.
			Westmeath</p>
		</div>
		<div id="bottomright1">
			<p>Telephone: <br />E-mail <br />Address:</p>
		</div>
	</p:panel>
	<!-- End of Footer -->

</h:body>
</html>
