body {
	background-color: #ffffff;
	font-size: 12px;
	font-family: Verdana, "Verdana CE", Arial, "Arial CE",
		"Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	color: #000000;
	margin: 10px;
}

h1 {
	font-family: Arial, "Arial CE", "Lucida Grande CE", lucida,
		"Helvetica CE", sans-serif;
	/*border-bottom: 1px solid #AFAFAF;
	color: #D20005;*/
	font-size: 18px;
	font-weight: bold;
	margin: 0px;
	padding-top: 6px;
}

h2 {
	font-size: 15pt;
	color: #000;
	margin: 0;
	padding-top: 6px;
	font-family: Arial, "Arial CE", "Lucida Grande CE", lucida,
		"Helvetica CE", sans-serif;
}

p {
	font-size: 12pt;
	color: #000;
	margin: 0;
	padding-top: 6px;
	font-family: Arial, "Arial CE", "Lucida Grande CE", lucida,
		"Helvetica CE", sans-serif;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.FormContainer {
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	height: 200px;
}

.BottomPanel {
	margin: 0 auto;
	background-image: url("#{resource['/images/Bottom_Panel.jpg']}");
	bottom: 0;
	width: 100%;
	height: 240px;
}

#LogoMain {
	background-image: url("#{resource['images/4U_Front_Logo.jpg']}");
	position: fixed;
	left: 50%;
	transform: translate(-50%);
	height: 400px;
}

.logo {
	position: absolute;
	top: 1;
	max-height: 150px;
	max-length: 180px;
	z-index: 1;
}

form {
	height: 28 0px;
}

#header {
	position: relative;
	top: 0;
	right: 0;
	height: 160px;
	width: 100%;
	border: none;
	padding: 0;
	margin: 0;
	border-radius: 0;
}

#main {
	background-color: #f0f8ff;
	border: none;
	width: 30%;
	margin: auto;
	padding: 10px;
	border-bottom: 1px solid black;
	border: .1px solid black;
	border-collapse: collapse;
	height: 300%;
}

#back {
	position: absolute;
	z-index: 1;
}

#main2 {
	width: 80%;
	margin: auto;
	border-bottom: 1px solid #000000;
	border: .1px solid #000000;
	border-collapse: collapse;
	height: 300%;
}

#car {
	border: thick;
	color: black;
	padding: 3%;
	float: left;
	display: inline-block;
}

#container {
	width: 80%;
	margin: 0 auto;
	display: block;
	border: none;
}

#footer {
	width: 100%;
		font-family: Verdana, "Verdana CE", Arial, "Arial CE",
		"Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	font-size: 90%;
	height: 120px;
	padding: 20px 0px 4px 0px;
	margin-bottom: 20px;
	text-align: center;
	background: #67ad3d;
	color: #A8AA94;
	border-top: 4px solid #f26722;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	
}

#footer2 {
	width: 100%;
	font-family: Arial, sans-serif;
	font-size: 90%;
	height: 120px;
	padding: 20px 0px 4px 0px;
	margin-bottom: 20px;
	text-align: center;
	background-image: url("#{resource['images/footer_bg_blue.jpg']}");
	color: black;
	border-top: 4px solid black;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	
}

#footer a {
	color: #000000;
	text-decoration: none;
}

#footer a:hover {
	color: #FFF;
	text-decoration: none;
}