body {
	background-color: #e6e6ff;
}

body, h1, h2, h3, h4, h5 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
	font-size: 30pt;
	color: #000;
	margin: 0;
	padding-top: 6px;
	/*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
	font-family: Arial, "Arial CE", "Lucida Grande CE", lucida,
		"Helvetica CE", sans-serif;
}

h2 {
	font-size: 15pt;
	color: #000;
	margin: 0;
	padding-top: 6px;
	font-family: Arial, "Arial CE", "Lucida Grande CE", lucida,
		"Helvetica CE", sans-serif;
}

p {
	font-size: 8pt;
	color: #000;
	margin: 0;
	padding-top: 6px;
	font-family: Arial, "Arial CE", "Lucida Grande CE", lucida,
		"Helvetica CE", sans-serif;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table, th, td {
	border-bottom: 1px solid #F39C12;
	padding: 10px;
	border: .1px solid #F39C12;
}

th {
	text-align: left;
	background-color: #F39C12;
}

#header {
	background-image: url("#{resource['/images/Bottom_Panel.jpg']}");
	padding: 60px 0;
	margin: 10;
	padding: 100;
	list-style: none;
	line-height: normal;
	border: none;
	color: #F39C12;
	background-color: #009933;
}

#footer {
	background-image: url("#{resource['/images/Bottom_Panel.jpg']}");
	padding: 60px 0;
	margin: 10;
	padding: 100;
	list-style: none;
	line-height: normal;
	border: none;
	color: #F39C12;
	background-color: #009933;
}

#content {
	padding-left: 80px;
	list-style: none;
	line-height: normal;
	border: none;
}